<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleName</key>
	<string>Music Mini Player</string>
	<key>CFBundleIdentifier</key>
	<string>com.yinanli.MusicMiniPlayer</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Music Mini Player needs permission to control Music.app for playback control and to display track information, album artwork, and lyrics.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Music Mini Player needs permission to control Music.app for playback control and to display track information, album artwork, and lyrics.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music Mini Player needs access to your Apple Music library to display album artwork, track information, and lyrics.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yinanli.MusicMiniPlayer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>musicminiplayer</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
