<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.yinanli.nanoPod</string>
	<key>CFBundleName</key>
	<string>nanoPod</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yinanli.nanoPod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nanopod</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.5</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Music Mini Player needs permission to control Music.app for playback control and to display track information, album artwork, and lyrics.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music Mini Player needs access to your Apple Music library to display album artwork, track information, and lyrics.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
